*
    margin: 0;
    padding: 0;

@import '../components/index.styl';

._main
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 210px;
    border: 1px #efefef solid;

._content
    margin-left: 200px;
    background-color: lightblue;