._tab_link
    height: 30px;
    margin: 12px 0 0 200px;
    white-space: nowrap;
    border-bottom: 2px #efefef solid;

    ._tab_link_box
        display: inline-block;
        position: relative;
        margin-right: 12px;

        ._tab_link_cancel
            position: absolute;
            top: -6px;
            right: -6px;
            border-radius: 6px;
            background-color: #2C303D;
            color: red;
            user-select: none;
            text-align: center;
            line-height: 12px;
            cursor: pointer;

        ._tab_link_list
            display: inline-block;
            width: 120px;
            height: 28px;
            border: 1px #efefef solid;
            line-height: 28px;
            overflow: hidden;
            text-decoration: none;
            text-align: center;

        ._tab_link_active
            color: #fff;
            background-color: #508fdf;
