._menu
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #efefef;

    ._menu_itemList_title
        height: 30px;
        line-height: 30px;
        text-indent: 24px;
        border: 1px #efefef solid;

    ._menu_submenu
        padding-left: 24px;

        ._menu_submenu_link
            display: block;
            height: 28px;
            text-indent: 12px;
            line-height: 28px;
            color: #508fdf;
            text-decoration: none;

        ._menu_submenu_active
            background-color: #508fdf;
            color: #fff;