@media all
  &::-webkit-scrollbar
    width: 10px
    border-radius: 5px

@media all
  &::-webkit-scrollbar-track-piece
    height: 10px
    border-radius: 5px
    background: #aaa;
@media all
  &::-webkit-scrollbar-thumb
    background: #dfdfdf
    border-radius: 4px
